{% extends 'dashboard_base.html' %}
{% block content %}
    
<p class="a_txt">Registered Minecraft Username: {{current_user.mcname}}</p>
<p class="a_txt">Registered Minecraft UUID: {{current_user.uuid}}</p>
<button class="db_button">Ontgrendel Account</button>
<p class="a_txt">Minecraft nog niet aan dit account gelinkt?</p>
<a href="/link_mc_acc"><button class="db_button" id="LinkAcc">Link Minecraft Account</button></a>
<p class="regiwarning">Let op: Het link process kan maar een keer gedaan worden, <br>
    daarna zal dit MiPSI-account geen andere Minecraft-accounts meer kunnen aannemen. <br>
    Mocht er iets zijn missgegaan, kun je altijd contact opnemen met de admins in de Discord-server.
</p>
<div class="flash_msg">{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

{% endblock %}