<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./static/css/style_create_acc.css">
        <title>MiPSI - Create Account</title>
    </head>
    <body>
        <div class="window">
            <form method="post" class="form">
                <h1 class="master_txt">mipsi create account</h1>
                <label for="username" class="font-mc">Username:</label>
                <input id="username"  type="text"     name="username" placeholder="Username" required>
                <br>
                <label for="password" class="font-mc">Password:</label>
                <input id="password"  type="password" name="password" placeholder="password" required>
                <br>
                <label for="email"    class="font-mc">Email:</label>
                <input id="email"     type="text"     name="email"    placeholder="email"    required>
                <br>
                <input type="submit"  class="button" value="create account">
            </form>
        <a href="/login"><button class="button">Back to login</button></a>
        </div>
        <div class="statusmsg">{% with messages = get_flashed_messages() %}
            {% if messages %}
               {% for message in messages %}
                  {{ message }}
               {% endfor %}
            {% endif %}
         {% endwith %}</div>
    </body>
</html>