<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./static/css/style_main.css">
    <title>MiPSI - Dashboard</title>
</head>

<body>
    <div class="header">
        <h1>MiPSI</h1>
    </div>

    <div class="sidebar">
        <h3>Sidebar</h3>
        <button class="sb_button" id="Home">Home</button> 
        <button class="sb_button" id="Acces">Acces</button>
        <button class="sb_button" id="Admin Login">Admin Login</button>
        <button class="sb_button" id="Exit">Exit</button>
        <h6 class="sb_footer">MiPSI - {{version}}</h6>
    </div>

    <div class="dashboard">
        <h2>Dashboard</h2>
    </div>
    

</body>
</html>
