{% extends 'dashboard_base.html' %}

{% block head %}
    <title>MiPSI - Dashboard</title>
{% endblock %}

{% block content %}
    
<p class="welcome_msg">Welkom {{current_user.username}} !!!</p>
<p class="main_msg">Welkom! Ik ben MiPSI, Minecraft Personal Server Interface. 
    <br> Hier kun je jouw account activeren op onze server, later kun je hier vast meer doen.
    <br> Heb je weer wat verkeerd gedaan? dan kun je terecht in onze Discord Server.
    <br><a href="https://discord.gg/ptCeWGKfS">Hier</a> is een uitnodiging.
</p>
<p class="main_msg">Thimo Smits: Server Owner
    <br>Timo Oosterom: Development
    <br>Niek van Reenen: Development
    <br>Daniel Lodder: Graphic Designer
</p>
<div class="flash_msg">{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

{% endblock %}