<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mipsi Login</title>
    </head>
    <body>
        <h1>mipsi login</h1>
        <form method="post">
            <p>username:</p>
            <input type="text" placeholder="username" name="username" required>
            <br>
            <p>password</p>
            <input type="password" placeholder="password" name="password" required>
            <input type="submit" value="Login">
        </form>
        <a href="/createaccount">Create Account</a>
    </body>
</html>