{% extends 'dashboard_base.html' %}

{% block head %}
	<title>MiPSI - {{user.username}}</title>
	<link rel="stylesheet" href="/static/css/user.css">
{% endblock %}

{% block content %}
<h2 class="font-mc">{{user.username}}</h2>

<a href="/users/{{user.id -1 if user.id >=1 else user.id}}"><button>previous</button></a>
<a href="/users/{{user.id +1}}"><button>next</button></a>
<p></p>
<center>
	<table>
		<tr>
			<th colspan="3">UserData</th>
		</tr>
		<tr>
			<td><button onclick="editItem('id')" id="butid" title="Edit Id">Edit</button></td>
			<th>ID</th>
			<td id="valid">{{user.id}}</td>
		</tr>
		<tr>
			<td><button onclick="editItem('username')" id="butusername" title="Edit Username">Edit</button></td>
			<th>Username</th>
			<td id="valusername">{{user.username}}</td>
		</tr>
		<tr>
			<td><button onclick="editItem('email')" id="butemail" title="Edit Email">Edit</button></td>
			<th>email</th>
			<td id="valemail">{{user.email}}</td>
		</tr>
		<tr>
			<td><button onclick="editItem('roles')" id="butroles" title="Edit Role (not yet supported)">Edit</button></td>
			<th>roles</th>
			<td id="valroles">
				<span id="currentRoles" style="float: left;" >{{ user.roles }}</span>
				<select id="selectRoles" style="display: none;" size="3" multiple>
					{% for role in [{'name':'player', 'id':0}, {'name':'operator', 'id':1}, {'name':'admin', 'id':2}] %}
						<option value="{{ role.id }}:{{ role.name }}">{{ role.name }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td><button onclick="editItem('mcname')" id="butmcname" title="Edit MCName">Edit</button></td>
			<th>mcname</th>
			<td id="valmcname">{{user.mcname}}</td>
		</tr>
		<tr>
			<td><button onclick="editItem('uuid')" id="butuuid" title="Edit UUID">Edit</button></td>
			<th>uuid</th>
			<td id="valuuid">{{user.uuid}}</td>
		</tr>
	</table>
	<br>
	<p id="status"></p>
	<p>id editing is broken rn, the other values still work</p>
	<p class="font-mc">if the value stays on "loading..." longer than a few seconds something happend in the backend. try again. <br>if it keeps happeing, please contact a developper and explain what you were trying to do.</p>
</center>
{% endblock %}

{% block js %}
<script>
	var user= {{userJson|safe}};
</script>
<script src="/static/js/user.js"></script>
{% endblock %}