{% extends 'dashboard_base.html' %}

{% block head %}
	<title>MiPSI - {{user.username}}</title>
	<link rel="stylesheet" href="/static/css/user.css">
{% endblock %}

{% block content %}
<h2 class="font-mc">{{user.username}}</h2>

<a href="/users/{{user.id -1 if user.id >=1 else user.id}}"><button>previous</button></a>
<a href="/users/{{user.id +1}}"><button>next</button></a>
<p></p>
<center>
	<table>
		<tr>
			<th colspan="3">UserData</th>
		</tr>
		<tr>
			<td><button onclick="editItem('id')" id="butid" title="Edit Id">Edit</button></td>
			<th>ID</th>
			<td id="valid">{{user.id}}</td>
		</tr>
		<tr>
			<td><button onclick="editItem('username')" id="butusername" title="Edit Username">Edit</button></td>
			<th>Username</th>
			<td id="valusername">{{user.username}}</td>
		</tr>
		<tr>
			<td><button onclick="editItem('email')" id="butemail" title="Edit Email">Edit</button></td>
			<th>email</th>
			<td id="valemail">{{user.email}}</td>
		</tr>
		<tr>
			<td><button onclick="editItem('roles')" id="butroles" title="Edit Role (not yet supported)">Edit</button></td>
			<th>roles</th>
			<td id="valroles">{{user.roles}}</td>
		</tr>
		<tr>
			<td><button onclick="editItem('mcname')" id="butmcname" title="Edit MCName">Edit</button></td>
			<th>mcname</th>
			<td id="valmcname">{{user.mcname}}</td>
		</tr>
		<tr>
			<td><button onclick="editItem('uuid')" id="butuuid" title="Edit UUID">Edit</button></td>
			<th>uuid</th>
			<td id="valuuid">{{user.uuid}}</td>
		</tr>
	</table>
</center>
{% endblock %}

{% block js %}
<script>
	var user= {{userJson|safe}};
</script>
<script src="/static/js/user.js"></script>
{% endblock %}